{% extends "base.html" %}

{% block title %}{{title}}{% endblock %}

{% block content %}
<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title text-info">Добро пожаловать!</h4>
                        <p>Сайт разработан в отделе ПДО и работает в тестовом режиме. Основное назначение учет Служебных
                            записок, заказов, сроков отгрузки, выдачи документации и т.д.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title m-b-0 text-info">Последние обновления</h4>
                    </div>
                    <ul class="list-style-none">
                        <li class="d-flex no-block card-body">
                            <i class=""></i>
                            <i class="fas fa-file-excel w-30px m-t-5 text-success"></i>
                            <div>
                                <a href="#" class="m-b-0 font-medium p-0">Обновлен график: 2311691 - Норія У2-УН-100
                                    37.xlsx</a>
                                <span class="text-muted">Обновлено: 1200 позиций в файле. Диспетчер: Королех И.В.</span>
                            </div>
                            <div class="ml-auto">
                                <div class="tetx-right">
                                    <h5 class="text-muted m-b-0">20 Янв</h5>
                                    <span class="text-muted font-16">16:37:44</span>
                                </div>
                            </div>
                        </li>
                        <li class="d-flex no-block card-body border-top">
                            <i class="fas fa-database w-30px m-t-5 text-info"></i>
                            <div>
                                <a href="#" class="m-b-0 font-medium p-0">Обновлены накладные за Январь и Февраль</a>
                                <span class="text-muted">Обновление накладных прошло успешно.</span>
                            </div>
                            <div class="ml-auto">
                                <div class="tetx-right">
                                    <h5 class="text-muted m-b-0">20 Янв</h5>
                                    <span class="text-muted font-16">13:26:35</span>
                                </div>
                            </div>
                        </li>
                        <li class="d-flex no-block card-body border-top">
                            <i class="fa fa-plus w-30px m-t-5 text-success"></i>
                            <div>
                                <a href="#" class="m-b-0 font-medium p-0">Добавились Готовые заказы</a>
                                <span class="text-muted">Обновлен файл готовых заказов. Заказы: 2311691, 2311692,
                                    2311693</span>
                            </div>
                            <div class="ml-auto">
                                <div class="tetx-right">
                                    <h5 class="text-muted m-b-0">20 Янв</h5>
                                    <span class="text-muted font-16">16:37:44</span>
                                </div>
                            </div>
                        </li>
                        <li class="d-flex no-block card-body border-top">
                            <i class="far fa-calendar-check w-30px m-t-5 text-success"></i>
                            <div>
                                <a href="#" class="m-b-0 font-medium p-0">Обновлен файл входящей
                                    документации.</a>
                                <span class="text-muted">Обновлено: 200 дат. Диспетчер: Мудренко Н.В.</span>
                            </div>
                            <div class="ml-auto">
                                <div class="tetx-right">
                                    <h5 class="text-muted m-b-0">20 Jan</h5>
                                    <span class="text-muted font-16">16:37:44</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="card text-right">
                        <div class="card-body">
                            <a href="#" class="btn btn-success btn-sm">Еще...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            {% include "widget-ongraph.html" %}
            {% include "widget-dispatchers.html" %}
        </div>

    </div>
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Right sidebar -->
    <!-- ============================================================== -->
    <!-- .right-sidebar -->
    <!-- ============================================================== -->
    <!-- End Right sidebar -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
{% endblock %}