{% extends "base.html" %}

{% block title %}{{title}}{% endblock %}

{% block content %}
<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title text-info">Добро пожаловать!</h4>
                        <p>Сайт разработан в отделе ПДО и работает в тестовом режиме. Основное назначение учет Служебных
                            записок, заказов, сроков отгрузки, выдачи документации и т.д.</p>
                    </div>
                </div>
            </div>
            {% include "widget-history.html" %}
        </div>
        <div class="col-md-6">
            {% include "widget-ongraph.html" %}
            {% include "widget-dispatchers.html" %}
        </div>

    </div>
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Right sidebar -->
    <!-- ============================================================== -->
    <!-- .right-sidebar -->
    <!-- ============================================================== -->
    <!-- End Right sidebar -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
{% endblock %}