{% extends "base.html" %}

{% block title %}{{title}}{% endblock %}

{% block content %}
<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Сортировки.</h5>
                    <p>Куча всяких фильтров.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body" style="padding: 0;">
                    <table class="table table-striped table-hover table-sm table-borderless">
                        <thead>
                        <tr>
                            <td>Г</td>
                            <td>Отгрузка</td>
                            <td>Продукция</td>
                            <td>Контрагент</td>
                            <td>№ Заказа</td>
                            <td>Кол-во</td>
                            <td>№ СЗ</td>
                        </tr>
                        </thead>
                        {% for order in all_orders %}
                        <tr>
                            <td>{% if order.ready %}<i class="mdi mdi-checkbox-marked-circle text-success"></i>{% else %}<i class="mdi mdi-play-circle text-primary"></i>{% endif %}</td>
                            <td style="text-align: right; white-space:nowrap" class="dateperiod" title="{{ order.get_date_period_full }}">{{ order.get_date_period_small }}</td>
                            <td><a href="#">{{ order.product_name|default:"" }}</a></td>
                            <td style="white-space:nowrap">{{ order.couterparty.name|default:"" }}</td>
                            <td>{{ order.order_no|default:"" }}</td>
                            <td>{{ order.amount|floatformat:"0"|default:"" }}</td>
                            <td title="{% if order.sn_no_amended.all %} {% for sn_no in order.sn_no_amended.all %}{{ sn_no.name }} {% endfor %}{% else %}Нет дополнительных служебных записок{% endif %}">{{ order.sn_no.name|default:"" }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Right sidebar -->
    <!-- ============================================================== -->
    <!-- .right-sidebar -->
    <!-- ============================================================== -->
    <!-- End Right sidebar -->
    <!-- ============================================================== -->
</div>
{% endblock %}