<div class="col-md-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title text-info">Состояние заказов за 2019 год</h4>

            <div id="ongraph">
                <ongraph-item v-for="item in ongraphList" v-bind:ongraph="item" v-bind:key="item.id"></ongraph-item>
                {% verbatim %}
                <div v-if="status" class="alert alert-danger m-r-5 m-l-5 m-b-5" role="alert">
                    <b>{{ status }}</b>
                </div>
                {% endverbatim %}
            </div>

        </div>
    </div>
</div>